@import '/src/styles/globals.css';


.mainSection{
  background-color: var(--color-purple-dark);
  height: 50vw;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentWrapper{
  --auto-grid-min-size: 400px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 3rem;
}

.imageWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageWrapper img{
  width: 80%;
  min-width: 300px;
}

.aboutMeWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
}

.titleList{
  list-style-type: none;
  width: 100%;
}

.titleList li{
  float: left;
  width: 30%;
}

.titleList li a{
  display: block;
  text-align: center;
  font-size: 0.5cm;
  max-height: 50px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.elementText{
  font-size: 1.25em;
  text-align: justify;
  color: white;
  margin: 1rem;
  width: 100%;
}

.infoButton {
  padding: 0.5em;
  margin: 1em;
  font-size: 1.2em;
}

.buttonsWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
